<template>
    <div class="problem-button" v-if="isAuth !== undefined">
        <vue-telegram-login mode="redirect" v-if="isAuth ===false"
                            telegram-login="issueportalbot"
                            redirect-url="/telegram-login"/>

        <b-button v-if="isAuth === true" @click="showAddModal" variant="primary" pill size="lg">
            <b-icon-briefcase/>
            Menda muammo bor
        </b-button>
    </div>
</template>

<script>
import AddProblemModal from "./AddProblemModal";
import {vueTelegramLogin} from 'vue-telegram-login'
import {mapGetters} from "vuex";

export default {
    name: "AddNewProblem",

    components: {vueTelegramLogin},

    computed: {
        ...mapGetters({
            isAuth: 'isLoggedIn'
        })
    },

    methods: {
        showAddModal() {
            this.$modal.show(AddProblemModal, {}, {
                height: 'auto',
                adaptive: true,
                maxWidth: screen.availWidth * 0.9,
            })
        },

        onUserLoggedIn(user) {
            console.log(user);
        }
    }
}
</script>

<style scoped>
.problem-button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    z-index: 500;
}
</style>
