<template>
    <Modal :actions="actions" :title="'Muammoni haqida xabar berish'">

        <b-form-group label="Shikoyat">
            <b-form-input
                v-model="form.title"
                trim/>
        </b-form-group>

        <b-form-group label="Izoh">
            <b-form-textarea
                v-model="form.description"
                rows="5" no-resize trim/>
        </b-form-group>

        <b-form-group label="Soha">
            <b-form-select
                v-model="form.category_id"
                :options="categories"
                value-field="id"
                text-field="name"/>
        </b-form-group>

        <b-form-group label="Joylashuv">
            <b-form-input
                :value="getCurrentPos"
                disabled trim/>
        </b-form-group>

        <b-form-group label="Hujjatlar / Fotosuratlar">
            <b-form-file v-model="documents" multiple/>
        </b-form-group>
    </Modal>
</template>

<script>
import Modal from "./Modal";
import Ebus from "../Ebus";
import {mapState, mapGetters} from 'vuex';
import {AxiosInstance} from 'axios'

export default {
    name: "AddProblemModal",
    components: {Modal},

    data() {
        return {
            form: {
                title: '',
                description: '',
                category_id: null,
                lat: this.$store.state.currentPos.lat,
                long: this.$store.state.currentPos.lng
            },

            documents: []
        };
    },

    chimera: {
        addIssue: {
            url: 'issues',
            method: 'post',
            on: {
                /** @param {AxiosInstance} axios */
                success({axios, data}) {
                    this.$root.$bvToast.toast(`Ma\`lumotlar qo\`shildi`, {
                        title: 'Xabar',
                        variant: 'success',
                        autoHideDelay: 5000,
                    })

                    let upload = (async () => {
                        let issueId = data.data.id;
                        for (let document of this.documents) {
                            let formData = new FormData();
                            formData.set("issue_id", issueId.toString())
                            formData.set("file", document)

                            await axios.post('/documents', formData)
                        }
                    })

                    upload().then(() => {
                        this.$emit('close')
                        Ebus.$emit('ReloadMarkers')
                    })
                }
            }
        }
    },

    computed: {
        actions() {
            let $this = this;

            return [
                {
                    title: 'Yuborish',
                    handler() {
                        $this.$chimera.addIssue.send($this.form)
                        return true;
                    }
                }
            ]
        },

        ...mapState(['categories']),
        ...mapGetters(['getCurrentPos']),
    },

}
</script>

<style scoped>

</style>
