<template>
    <Modal>
        <template #header>Export qilish</template>

        <div class="text-center h4">
            Muammolarni JSON format yuklab olish

            <b-button variant="primary" class="mt-4"  size="lg" pill href="/api/issues?export=true">
                <b-icon-download style="font-size: 48px !important;"/> Yuklab olish
            </b-button>
        </div>

    </Modal>
</template>

<script>
import Modal from "./Modal";
export default {
    name: "ExportData",
    components: {Modal}
}
</script>

<style scoped>

</style>
