<template>
    <div id="map-wrapper">
        <div class="map-header">Ochiq muammolar portali</div>
        <div id="map" ref="map"></div>

        <div class="position-absolute text-right" style="top: 120px; z-index: 400; right: 10px">
            <b-button @click="exportModal" variant="primary">
                <b-icon-download/>
                Export JSON
            </b-button>
            <br>
            <b-button class="mt-2" variant="primary">
                <b-icon-pie-chart/>
                Statistika
            </b-button>
            <br>
            <b-button @click="pickCategories" class="mt-2" variant="primary">
                <b-icon-sort-down/>
                Kategoriyalar
            </b-button>
        </div>
    </div>
</template>

<script>

import 'leaflet';
import '../3rd/Leaflet.MapCenterCoord/dist/L.Control.MapCenterCoord.min'
import '../3rd/Leaflet.MapCenterCoord/dist/L.Control.MapCenterCoord.min.css'

delete L.Icon.Default.prototype._getIconUrl
L.Icon.Default.imagePath = '/images/';

L.Icon.Default.mergeOptions({
    iconRetinaUrl: "/images/marker-icon-2x.png",
    iconUrl: '/images/marker-icon.png',
    shadowUrl: '/images/marker-shadow.png'
})

import 'leaflet/dist/leaflet.css'

import 'leaflet.markercluster/dist/MarkerCluster.css'
import 'leaflet.markercluster/dist/MarkerCluster.Default.css'
import 'leaflet.markercluster/dist/leaflet.markercluster'
import ProblemInfoPage from "./ProblemInfoPage";
import SelectCategoryDialog from "./SelectCategoryDialog";
import {centerPos} from "../store";
import Ebus from "../Ebus";
import ExportData from "./ExportData";
import {mapActions} from "vuex";


let MarkerIcon = L.Icon.extend({
    options: {
        shadowUrl: '/images/marker-shadow.png',
        iconSize: [35, 52],
        shadowSize: [50, 64],
        iconAnchor: [6, 50],
        shadowAnchor: [4, 62],
        popupAnchor: [-3, -76]
    }
});

let Icons = {}

for (let i = 1; i <= 12; i++) {
    Icons[i] = new MarkerIcon({iconUrl: `/icons/marker/${i}.png`, iconRetinaUrl: `/icons/marker/${i}.png`})
}


export default {
    name: "MapPage",
    data() {
        return {
            map: null,
            markers: null,
        }
    },

    chimera: {
        issues: {
            url: 'issues?withDocuments=true&withCategories=true&withPeople=true',
            on: {
                success({data}) {
                    this.drawMarkers(data.data);

                }
            }
        },

        categories: {
            url: 'categories',
            on: {
                success({data}) {
                    this.$store.state.categories = Array.from(data.data);
                }
            }
        }
    },

    methods: {
        ...mapActions({
            checkLogin: 'checkLogin'
        }),

        drawMarkers(data) {
            this.markers.clearLayers()

            for (let m of data) {
                if (this.$store.state.selectedCategories.length > 0 && !this.$store.state.selectedCategories.includes(m.category_id))
                    continue;

                /** @type {Marker} */
                let icon = Icons[m.category_id];
                let marker = L.marker([Number(m.lat), Number(m.long)], {icon});
                // marker.bindPopup(`<b>${m.title}</b><br>${m.location}`);
                marker.on('click', () => {
                    this.$modal.show(ProblemInfoPage, {
                        problem: m
                    }, {
                        height: 'auto',
                        adaptive: true,
                        maxWidth: screen.availWidth - 20
                    })
                })

                this.markers.addLayer(marker);
            }
        },

        /**
         * @param {Map} target
         */
        onMapMoveEnd({target}) {
            this.$store.state.currentPos = target.getCenter();
        },

        pickCategories() {
            this.$modal.show(SelectCategoryDialog, {}, {
                height: 'auto',
                maxWidth: screen.availWidth - 20,
                adaptive: true
            })
        },

        exportModal() {
            this.$modal.show(ExportData, {}, {
                height: 'auto',
                width: '500px',
                maxWidth: screen.availWidth - 20,
                adaptive: true
            })
        },

        reloadMarkers() {
            this.$chimera.issues.fetch()
        }
    },

    mounted() {
        this.checkLogin();

        this.$nextTick(() => {
            let googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            });

            let googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            });

            let OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            });

            let Stadia_OSMBright = L.tileLayer('https://tiles.stadiamaps.com/tiles/osm_bright/{z}/{x}/{y}{r}.png', {
                maxZoom: 20,
                attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
            });

            this.map = L.map(this.$refs.map, {
                center: centerPos,
                zoom: 13,
                layers: [
                    // googleSat,
                    googleStreets
                ]
            });

            let baseMaps = {
                "Google street maps": googleStreets,
                "Google satellite": googleSat,
                "Mapnik": OpenStreetMap_Mapnik,
                "Stadia": Stadia_OSMBright
            }
            this.map.on('moveend', this.onMapMoveEnd)

            this.markers = L.markerClusterGroup();
            this.map.addLayer(this.markers);


            L.control.mapCenterCoord().addTo(this.map);
            L.control.layers(baseMaps, {}).addTo(this.map);
        })

        Ebus.$on('ReloadMarkers', this.reloadMarkers)
    },

    beforeDestroy() {
        Ebus.$off('ReloadMarkers', this.reloadMarkers)
    }
}
</script>

<style scoped>
#map {
    height: 100vh;
}

.map-header {
    position: absolute;
    z-index: 500;
    font-size: 20px;
    padding: .5rem;
    width: 100%;
    color: white;
    text-shadow: 1px 1px #303030;
    background: linear-gradient(180deg, rgba(78, 76, 76, 0.8), rgba(78, 76, 76, 0.5), #00000000);
}
</style>
