<template>
    <div>
        <div class="title">
            <slot name="header">{{ title }}</slot>

            <b-icon-x class="float-right h2" style="cursor: pointer" @click="$parent.$emit('close')"/>
        </div>

        <div class="p-3">
            <slot></slot>
        </div>

        <div class="footer d-flex" v-if="actions && actions.length > 0">
            <div class="action" :style="{'width': 100 / actions.length + '%'}" v-for="action in actions"
                 @click="handle(action)">
                {{ action.title }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Modal",

    props: {
        actions: {
            type: Array
        },

        title: {
            default: "Modal",
            type: String
        }
    },

    methods: {
        handle(action) {
            let prevent = action.handler && action.handler() || false;

            if (prevent !== true)
                this.$parent.$emit('close');
        }
    }
}
</script>

<style scoped lang="scss">
@import "resources/sass/variables";

.action {
    cursor: pointer;
    padding: .5rem 1rem;
    text-align: center;
    border: 1px solid $border-color;

    &:hover {
        cursor: pointer;
        background: $border-color;
    }
}

.title {
    font-size: 120%;
    padding: .8rem 1rem;
    border-bottom: 1px solid $border-color;
}
</style>
