<template>
    <Modal :actions="actions">
        <template #header>{{ problem.title }}</template>

        <div class="mb-2" v-html="problem.description"/>

        <hr>

        <table class="table text-center table-borderless">
            <tr>
                <th>Mas'ul</th>
                <th>Holat</th>
                <th>Shikoyat qilingan sana</th>
                <th>Ovoz beruvchilar</th>
            </tr>
            <tr>
                <td v-text="problem.category.name"/>
                <td v-text="$store.state.issueStates[problem.state]"/>
                <td> {{ problem.created_at | moment('DD.MM.YYYY HH:mm') }}</td>
                <VoteButton
                    :issue_id="problem.id"
                    :votes="problem.votes"
                    :has-voted="problem.has_voted"
                />
            </tr>
        </table>

        <hr>

        <b v-if="request_documents.length">Shikoyatga biriktirilgan fayllar:</b> <br>

        <b-button
            class="btn-sm btn-outline m-1"
            pill
            v-for="document of request_documents" :key="document.id"
            :to="document.url"
        >
            {{ document.name | truncate(10) }}
        </b-button>

        <hr>

        <b-alert show variant="primary" v-if="problem.response_message">
            <b v-text="problem.category.name"/>: {{ problem.response_message }}
        </b-alert>

        <b v-if="request_documents.length">Tashkilot tomonidan biriktirilgan fayllar:</b> <br>


        <b-button
            class="btn-sm btn-outline m-1"
            pill
            v-for="document of response_documents" :key="document.id"
            :to="document.url"
        >
            {{ document.name | truncate(10) }}
        </b-button>

    </Modal>
</template>

<script>
import Modal from "./Modal";
import VoteButton from "./VoteButton";

export default {
    name: "ProblemInfoPage",

    components: {Modal, VoteButton},

    data() {
        const problem = this.$attrs.problem;
        const documents = problem.documents;

        return {
            problem,
            request_documents: documents.filter(document => document.kind === "0"),
            response_documents: documents.filter(document => document.kind === "1"),
        }
    },

    computed: {
        actions() {
            return [{
                title: 'Yopish'
            }]
        }
    }
}
</script>

<style scoped>
table tr th, td {
    padding: 0;
}
</style>
